* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

.container {
  min-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
  &_wide {
    max-width: 1440px;
  }
  &_middle {
    max-width: 1110px;
  }
  &_narrow {
    max-width: 885px;
  }
}

.title {
  @include text($size: 4rem);
  &_fz36{
    font-size: 3rem;
  }
}

.subtitle {
  @include text($color: $blue1, $size: 1.5rem);
  &_red {
    color: $red1;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-direction: column;
}
.start {
  align-items: flex-start;
}