.review {
  margin-top: 200px;
  height: 287px;
  // .review__text
  &__text {
    @include text($size: 3rem);
    line-height: 4.5rem;
    max-width: 940px;
  }

  // .review__author
  &__author {
    margin-top: 50px;
  }
}

.author {
  max-width: 325px;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 3fr;
  row-gap: 12px;
  column-gap: 30px;
  // .author__photo
  &__photo {
    width: 82px;
    height: 82px;
    border-radius: 12px;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  // .author__name
  &__name {
    @include text($size: 2rem);
    grid-column: 2/3;
    grid-row: 1/2;
  }

  // .author__position
  &__position {
    @include text($size: 1.5rem, $color: $gray3);
    grid-column: 2/3;
    grid-row: 2/3;
  }
}